body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* typography */
h1, h2, h3, h4, h5, h5, p, li, a, input {
    font-family: "Courier New", Courier, monospace;
}
/* Set a tags to black color and no underline */
a {
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #6fcb9f;
}

/* header and nav */
.navbar-nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background: #ffe28a;
}
.navbar {
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-nav li {
    font-size: 1.2em;
    margin: 0 0.5em;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: transparent;
}
.icon-bar {
    background-color: black;
}

/* All products page */
.recordsHeading {
    color: #666547;
    margin: 2em 0;
}
.recordWrap {
    margin-bottom: 2em;
}
.img-thumbnail {
    max-width: none;
    width: 100%;
}
.recordWrap form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} 
.recordWrap input[type=number] {
    width: 45px;
    margin-right: 1em;
    padding-left: 5px;
}
/* cart */
.cartLineWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em 0;
    width: 100%;
}
.cartLineWrap h3 {
    margin: 0;
}
.cartImg img {
    width: 150px;
    height: 150px;
}
.cartInfoWrap {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5em;
}
.cartInfo {  
    margin-left: 1em;
}
.cartForms {
    text-align: right;
    align-self: flex-end;
}
.cartForms input {
    margin-bottom: 1em;
}
.cartForms input[type=number] {
    width: 45px;
    margin-right: 1em;
    padding-left: 5px;
}
.cartForms input[type=submit] {
    width: 150px;
}
.toCheckout {
    text-align: right;
    border-top: 1px solid #ffe28a;
    width: 100%;
}


@media screen and (min-width: 768px) {
    .navbar-nav {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .navbar {
        position: relative;
        top: auto;
        right: auto;
    }
    .cartLineWrap {
        flex-direction: row;
    }
    .cartForms {
        align-self: flex-start;
    }
}