@model List<Ecommerce.Models.CheckoutViewModel>
@{
    ViewBag.Title = "Order Confirmation";
}

<h2 class="thankYou">Thank you @Model.First().FirstName for shopping at Championship vinyl!</h2>
<h4>Your Ordernumber is #@Model.First().Id</h4>
<div class="orderContent">
    @foreach (var product in Model)
    {
        <div class="orderRows">
            <p>@product.Qty</p>
            <p>@product.Title</p>
            <p>$@product.Price</p>
        </div>
    }
</div>
<div class="orderSum">
    <h5>Sum: $@Model.Sum(x => x.Qty * x.Price)</h5>
</div>

