@model List<Ecommerce.Models.CheckoutViewModel>
@{
    ViewBag.Title = "Order Confirmation";
}

<h2>Thank you for shopping at Championship vinyl!</h2>

@foreach (var product in Model)
{
    <p>@product.Qty</p>
    <p>@product.Title</p>
    <p>@product.Price</p>
}

