@{
    ViewBag.Title = "Cart";
}
@section scripts{ <script type="text/javascript" src="~/scripts/shop.js"></script> }
<h2>Your cart</h2>
<div class="cartWrap">

    @Html.Action("CartItems");

</div>
