@model List<Ecommerce.Models.ProductsViewModel>
@{
    ViewBag.Title = "All Records";
}

<h2>All Records</h2>

@foreach (var record in Model)
{   
    <img src="@Url.Content("~/Content/" + record.ImgUrl)" alt="@record.Title" width="100" />
    <a href="/products/details/@(record.Id)">@(record.Title)</a> <br />
}

